.balance-header {
    border: 2px solid #d1d1d1;
    padding: 10px 10px;
    border-radius: 7.5px;
}

.balance-header i {
    margin-right: 5px;
    color: var(--theme-deafult);
}

.page-wrapper .page-header .header-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}

.product-img {
    cursor: pointer;
}

.product-qnty .btn {
    margin-top: 15px;
}

.product-details h4 {
    cursor: pointer;
}

.product-details p {
    margin-top: 5px;
}
